/*FONTS  ============================================================================= */
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,900,700);

/* BASIC PAGE SETUP ============================================================================= */

body {
    font: 100%/1.4 'Work Sans', Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center;
    font-weight: 400;

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;

}

p {
    text-align: left;
    margin: 5px;
}

/**  SECTIONS  */
.section {
    clear: both;
    padding: 0;
    margin: 0;

}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.13%;
}

.span_1_of_3 {
    width: 32.26%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0;
    }

    .span_3_of_3, .span_2_of_3, .span_1_of_3 {
        width: 100%;
    }
}

#wrapper {
    min-height: 100%;
    position: relative;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*  HEADINGS  ============================================================================= */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Narrow', Helvetica, "Arial Black", sans-serif;
    margin: 3px 0;
    padding: 5px;
    font-weight: 700;

}

h1 {

    color: #000;
    margin: 0.2em 0;
    font-size: 1.500em;
    line-height: 1.4;
    font-weight: 700;
    text-align: left;
}

h2 {
    color: #222;
    margin: .5em 0;
    font-size: 1.250em;
    line-height: 1.2;
    text-align: left;
    font-weight: 400;

}

h3 {
    color: #333;
    margin-bottom: 0.3em;
    font-size: 1.125em;
    line-height: 1.3;
    font-weight: 400;
}

h4 {
    color: #444;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.25;
    font-weight: 400;
}

h5 {
    color: #555;
    margin-bottom: 0.875em;
    font-size: 1em;
    font-weight: 400;
}

h6 {
    color: #666;
    font-size: 0.750em;
    font-weight: 400;
}

/* Header =============================================================================  */

header {
    background: #1b242e;
    padding: 5px;
    border-bottom: 4px solid lightgrey;
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 5px #888888;
}

.introduction img {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #1b242e;
}

/* Images=============================================================================  */
img.logo {
    float: left;
    width: 45%;
}

img.header {
    width: 100%;
    height: 70%;
}

.img {
    margin: 5px;
    padding:10px;
    float: left;
    width: 300px;
}

.img .desc {
    color: #000000;
    text-align: center;
    padding: 15px;
}

.img img {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px #888888;
}

.img img:hover{

    border:4px solid #1b242e;
    box-shadow: 2px 2px 5px #ffffff;

}

/*Form*/
form {
    width: 530px;
    margin: 0;}

input {
    width: 130px;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: lightgrey;
}

label {
    float: left;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}

/* Navigation=============================================================================  */
.top-navigation > .content {
    height: 3.375rem;
}

.top-navigation .links {
    float: right;

    font-size: 1.04rem;
    margin: .7rem 2.5rem 0;
    text-decoration: none;

}

.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;

}

.top-navigation .links li.active {
    color: #6D92BA;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-navigation a, .bottom_navigation a {
    color: #f7f7f7;
    text-decoration: none;

}

.top-navigation a:visited,
.bottom_navigation a:visited {
    color: #DDDDDD;

}

.top-navigation a:hover,
.top-navigation a:active,
.bottom_navigation a:hover,
.bottom_navigation a:active {
    outline: 0;
    color: #B7B7B7;
    text-decoration: underline;
    opacity: 0.5;

}

.bottom_navigation li {
    display: inline-block;
    padding: 12px;
}

/* Content=============================================================================  */

#content {
    width: 100%;
    clear: both;
    padding: 0;
    color: #333;
    line-height: 1.5em;

}

.portfolio {
    background-color: lightgrey;
    padding: 0;
    width: 100%;
    border-top: 1px solid #1b242e;
}

.contact {
    background-color: ghostwhite;
    border-top: 1px solid #1b242e;
    padding-bottom: 100px;
}

/* Footer =============================================================================  */

.social {
    background: #1b242e;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    border-top: 4px solid lightgray;

}

.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;

}

.social .icons > li {

    display: inline-block;
    margin: .95rem;
    color: #f7f7f7;
}

.social h5 {
    color: #f7f7f7;
}

.social .icons > li:hover {
    cursor: pointer;
}

.social .github {
    color: #800080;
}

.social .linkedin {
    color: #4c66a4;
}

.social .behanced {
    color: #3f729b;
}

.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}


